body {
    background: #4e4194;
    color: #feffef;
    margin: 0;
}

.Hangman {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.btns {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-items: center;
    margin-top: 20px;
}


.Hangman button {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    letter-spacing: 1px;
    outline: none;
    background: cyan;
    color: white;
    box-shadow: 0 6px #399696;
    border-radius: 10px;
}

.Hangman button:hover {
    background-color: #83eaea;
}


