@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #171717;
  --not-black-black: #27364E;
  --dark-purple: #7A4A9B; 
  --medium-purple: #E0D3EF;
  --lightest-purple: #EFE9F7;
  --medium-grey: #999999;
  --vibrant-yellow: #FFD250;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button{
  cursor: pointer;
}