@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #171717;
  --not-black-black: #27364E;
  --dark-purple: #7A4A9B; 
  --medium-purple: #E0D3EF;
  --lightest-purple: #EFE9F7;
  --medium-grey: #999999;
  --vibrant-yellow: #FFD250;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button{
  cursor: pointer;
}

.user-header-container {
  width: 100%;
  background: white;
  padding: 10px 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 700px;
  margin: 0 auto; /* centre */
  border-radius: 12px;
  margin-top: 10px;
}

.user-header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-header-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.user-header-username {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.user-header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.level-box {
  padding: 4px 8px;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
}
